.wrapper {
  text-align: center;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.element {
  margin: 1rem;
  width: 20%;
}

.filter-select {
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.element:hover {
	border-color: #888;
}

.filter-select::-ms-expand {
	display: none;
}

.filter-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.filter-select option {
	font-weight:normal;
}

.clear {
  padding: 3px;
}