.variety-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}


.variety-item :hover,
.variety-item :active {
  background: #b8cfd5;
}

.variety-item__content {
  padding: 0;
}

.variety-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #b8cfd5;
}

.variety-item:hover h2,
.variety-item:active h2,
.variety-item:hover h3,
.variety-item:active h3 {
  color: #292929;
}

.variety-item__info h3 {
  margin: 0;
}